body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0;
  background:url('https://www.ecopetit.cat/wpic/mpic/86-861174_1080x1920-http-full-hd-abstract-mobile.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin-bottom: 30px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.header {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  padding-top: 1rem;
}

.header-img {
  background-image: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2.5em;
}

.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0,0,0,0.5) !important;
}

.txt-color {
  color: white;
}

.footer {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #958e69 74%);
  padding-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.h3-text {
  font-size: 1.75rem;
  color: white;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.grid-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 330px;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 0.4em;
}

.grid-item {
  padding: 10px;
  border-radius: 10px;
  width: 230px;
  height: 330px;
}

.img-cover {
  height: 90%;
  width: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.carousel-caption {
  top: 30%;
  bottom: auto;
  text-align: left !important;
}

.h1-text {
  font-size: 40px;
  font-weight: bold;
  color: #7ed6df;
}

.h5-text {
  font-size: 20px;
  font-weight: bold;
}

.d-block{
  opacity: 0.75;
}

.button {
  border-radius: 5px;
  background-color: #B96446;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn {
  width: 100%;
}

.form-control {
  display: inline-block;
}

.img-fluid {
  width: 100% !important;
  height: auto !important;
}

.carousel-container{
  align-content: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  color: white;
}

.media-img-list {
  width: 200px;
  height: 200px;
}

.icon {
  font-size: 40px;
  color: #ee9617;
}

.carousel-item {
  max-height: 650px;
}

.carousel-caption-border {
  display: block;
  border: solid white;
  border-width: 5px 0 5px 5px;
  padding: 20px;
  width: 85%;
  border-radius: 1em;
  clip-path: polygon(0 0, 60% 0, 38% 100%, 0 100%);
}

.slide-caption {
  position: absolute;
  left: -600px;
  animation: slide 0.5s forwards;
  animation-duration: 3s;
}

@keyframes slide {
  100% { left: 0; }
}